{% extends "index.html" %}

{% block title %}Add a Pet Fact{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add a Pet Fact</h2>
    <p>If you have a cool pet fact, please add it here!</p>
    <form action="/facts" method="POST" class="pet-form">
        <div class="form-group">
            <label for="name" style ="display: block;">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter pet name">
        </div>
        <div class="form-group">
            <label for="fact" style ="display: block;">Add a fact:</label>
            <input type="text" id="fact" name="fact" placeholder="Enter pet fact">
        </div>
        <button type="submit" class="button">Submit</button>
    </form>
</div>
{% endblock %}